
#article-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    z-index: 1;
}

#article-container * {
    border-radius: var(--default-radius);
}

#library-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#library {
    display: grid;
    padding: 20px;
    width: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

#library > .book {
    display: grid;
    height: 350px;
    border-radius: 12px;
    border: 1px solid;
    justify-content: center;
    padding: 10px;
}

#library > .book > h3 {
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 5px 0 5px 0;
}

#add-book-container {
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#add-book-container * {
    padding: 10px;
}

#add-book-btn {
    height: 60px;
    width: auto;
    font-size: 24px;
    background-color: white;
    font-weight: bold;
}

#library *:hover, #add-book-btn:hover {
    cursor: pointer;
}

.title {
    font-style:italic;
}

.title, .author, .pages {
    border: 1px solid black;
}

.read {
    color: white;
    background-color: rgb(0, 194, 0);
}

.delete-book-btn {
    display: flex;
    width: 100px;
    height: 40px;
    margin: 10px auto -20px auto;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
}