:root {
    --font-type: sans-serif;
    --default-radius: 12px;
    --btn-border-rad: 3px;
}

* {
    margin: 0;
    font-family: var(--font-type);
}

/* this is used to keep the height reponsive if theres more content */
#page-container {
    position: relative;
    min-height: 100vh
}

header {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid;
    z-index: 1;
}

header #login {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    height: 30px;
    border: 1px solid;
    border-radius: 8px;
}

header #login:hover {
    cursor: pointer;
}

header #logo {
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header #logo > p {
    font-size: 18px;
}

footer {
    position: absolute;
    align-items: center;    
    justify-content: center;
    width: 100%;
    height: 5rem;
    display: flex;
    bottom: 0;
}